POSTGRES_URL="postgres://default:QfKFytcu87Wv@ep-solitary-moon-a4qrh2q7-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:QfKFytcu87Wv@ep-solitary-moon-a4qrh2q7-pooler.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:QfKFytcu87Wv@ep-solitary-moon-a4qrh2q7-pooler.us-east-1.aws.neon.tech:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:QfKFytcu87Wv@ep-solitary-moon-a4qrh2q7.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="ep-solitary-moon-a4qrh2q7-pooler.us-east-1.aws.neon.tech"
POSTGRES_PASSWORD="QfKFytcu87Wv"
POSTGRES_DATABASE="verceldb"